@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #c9c9c9;
  --color-bg-variant: #04697031;
  --color-primary: #065353;
  --color-primary-variant: rgb(100, 0, 75);
  --color-white: #0b6066;
  --color-light: rgb(131, 3, 78);
  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-color:#f7f6fc;
}
/*========General Styles=========*/
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}


h3,
h4,
h5 {
  font-weight: 450;
  font-size: 1rem;
}
h1, h2 {
  font-size: 3.1rem;
  font-weight: 400;
}
section {
  margin-top: 8rem;
}

section > h2,
h5 {
  text-align: center;
  color: var(--color-primary);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}
.text-light {
  color: var(--color-light);
}
a {
  color: var(--color-primary);
  transition: var(--transition);
  font-size: 1rem;
}
a:hover {
  color: var(--color-white);
}
.btn {
  width: fit-content;
  display: inline-block;
  color: var(--color-primary-variant);
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary-variant);
  transition: var(--transition);
}
.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary-variant);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/*---------Media Queries(Medium Devices)--------*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}
/*---------Media Queries(Small Devices)--------*/

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section > h2 {
    margin-top: 2rem;
  }
}
